<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="header-social">
                        <p class="m-0">Follow Us: 
                            <a href=""><i class="fa fa-facebook" alt="Facebook"></i></a>
                            <a href=""><i class="fa fa-linkedin" alt="Linkedin"></i></a>
                            <a href=""><i class="fa fa-instagram" alt="Instagram"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="mini-menu">
                        <ul>
                            <li>
                                <a href=""><i class="fa fa-phone"></i> +91-9660008447</a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-map-marker"></i> Visit our Stores</a>
                            </li>
                            <li>
                                <a href="">Track Order</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="site-logo">
                    <a href="" class="d-block"><img src="{{siteLogo}}" class="img-fluid"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="search-bar">
                    <input type="text" class="form-control" placeholder="Search a product">
                    <div class="search-icon">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="header-right">
                    <div class="nav-icon">
                        <ul>
                            <li class="onhover-div wishlist-icon">
                                <img src="{{wishlistIcon}}" class="img-fluid">
                                <span class="cart-ti">3</span>
                            </li>
                            <li class="onhover-div cart-icon">
                                <img src="{{cartIcon}}" class="img-fluid">
                                <span class="cart-ti">3</span>
                            </li>
                            <li class="onhover-div user-icon">
                                <img src="{{userIcon}}" class="img-fluid">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-menu">
        <div class="container">
            <div class="site-menu">
                <nav class="navbar navbar-expand-lg p-0">
                    <div class="container-fluid p-0">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="../sofa">Sofa</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../living">Living</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Brands</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                      </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Beadroom</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Dining</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Storage</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Decor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Furniture Packages</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Interior Design</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
