@import '../../../vars.scss';
.feather-section{
    .feather-itme{
        position: relative;
        border: 1px solid #ccc;
        text-align: center;
        padding: 50px 0px 0px;
        .feather-img{
            width: 80px;
            position: absolute;
            top: -41px;
            background-color: $bg-white;
            padding: 20px;
            border-radius: 100px;
            border: 1px solid $theme-dark-color;
            left: 50%;
            transform: translate(-50%, 0);
            path{
                fill: #fff;
            }
        }
    }
}
.section-header{
    text-align: center;
    margin-bottom: 50px;
    h2{
        margin: 0px;
        &:after{
            content: '';
            display: block;
            height: 3px;
            width: 50px;
            background-color: $theme-dark-color;
            margin: 0 auto;
            margin-top: 30px;
        }
    }
}
.category-section{
    .cateory-item{
        position: relative;
        text-align: center;
        a{
            display: block;
            position: relative;
            text-align: center;
            overflow: hidden;
            &:after{
                content: "";
                display: block;
                background-color: #00000024;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
            }
            &:hover img{
                transform: scale(1.1);
            }
            img{
                transition: all .3s ease-in-out; 
                height: 516px;
                object-fit: cover;
            }
        }
        h4{
            position: absolute;
            bottom: 20px;
            width: 100%;
            color: #fff;
        }
    }
    .cateory-section-right{
        .cateory-item{
            a{
                img{
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                }
            }
        }
    }
}
.featured-prouduct-section{
    .featured-prouduct-item{
        margin-bottom: 30px;
        .item-img{
            position: relative;
            span.off{
                position: absolute;
                right: 10px;
                top: 10px;
                background-color: $theme-dark-color;
                color: $white-text;
                padding: 3px 15px;
                border-radius: 30px;
                font-size: 12px;
                font-weight: bold;
            }
            .rating{
                position: absolute;
                bottom: 10px;
                color: $ratings-color;
                margin: 0px;
                left: 15px;
                i{
                    margin-right: 5px;
                }
            }
        }
        .item-discription{
            h5{
                margin:10px 0px;
                a{
                    color: #000;
                    text-decoration: none;
                }
            }
            p{
                font-size: 20px;
                color: #FF0000;
                font-weight: bold;
                del{
                    color: #515151;
                    font-weight: normal;
                    margin-left: 15px;
                }
            }
        }
    }
}
.peralex-section{
    background-image: url(../../../assets/images/img-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
    position: relative;
    &:before{
        content: "";
        display: block;
        background-color: rgba(0, 0, 0, 0.36);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }
    .peralex-content{
        padding: 50px;
        border: 1px solid #fff;
        color: #fff;
        position: relative;
    }
}
.testimonial-section{
    position: relative;
    &::before{
        content: '';
        display: block;
        position: absolute;
        width: 50%;
        right: 0px;
        height: 100%;
        background-color: #F6FCFF;
        top: 0px;
    }
    .section-header{
        position: relative;
    }
    .testimonial-slider{
        .testimonial-content{
            text-align: center;
            background-color: #F5F5F5;
            padding: 30px;
            font-size: 14px;
            font-style: italic;
            position: relative;
            margin-bottom: 40px;
            i{
                font-size: 30px;
                margin-bottom: 20px;
            }
            &:after{
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 20px solid #f5f5f5;
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
        .testi-client{
            text-align: center;
            img{
                width: 60px !important;
                height: 60px;
                object-fit: cover;
                border-radius: 100%;
                margin: 0 auto;
                margin-bottom: 10px;
            }
            h6{
                margin: 0px;
            }
        }
    }
}